Source: sysrepod
Section: devel
Priority: optional
Maintainer: Luka Perkov <luka.perkov@sartura.hr>
Build-Depends: debhelper (>= 8.0.0), libroxml-dev
Standards-Version: 3.9.4
Homepage: http://www.freenetconf.org/

Package: sysrepod
Architecture: amd64 i386
Depends: libubox, libroxml0, ubus, uci
Description: sysrepo daemon
